<main class="home-site">
  <nav class="nav">

  </nav>

  <div class="side-bar col-sm-4">
    <h1 class="title">Fandm Chat</h1>
    <ul class="view-list">
      <li class="list-item" ng-repeat="room in home.rooms">
        <a class="room-name" ng-click="home.openRoom(room)">{{ room.$value }}</a>
      </li>      <!--room is the variable, home is the controller, rooms is array-->
      <li ng-controller="ModalCtrl as modals">
        <button type="button" class="btn btn-default" ng-click="modals.open()">New Room</button>
      </li>
    </ul>
  </div>


    <div class="chat-window col-sm-8">
        <h1>{{ home.currentRoomName }}</h1>
        <div class="container message-list">
          <div class="message-item" ng-repeat="message in home.messages">
            <p class="message-username">Username: {{ message.username }}<span class="message-sentAt">Time Sent: {{ message.sentAt }}</span></p>

            <p class="message-content">Message: {{ message.content }}</p>
          </div>
        </div>
    </div>

</main>
