<div>
  <div class="modal-header">
    <h3 class="modal-title">New Chat Room:</h3>
  </div>
  <div class="modal-body">
    <form name="create-room">
      <input type="text" class="form-control" ng-model="modalInstance.name" title="room" placeholder="Enter chat room name">
    </form>
  </div>
  <div>
    <button type="button" class="btn btn-default" ng-click="modalInstance.createRoom()">Create Chat Room</button>
    <button type="button" class="btn btn-default" ng-click="modalInstance.cancel()">Cancel</button>
  </div>
</div>
